#heading {
  margin-left: 220px;
}

#output {
  font-size: 150%;
  margin-left: 250px;
  border: solid;
  margin-right: 330px;
  text-align: center;
}

#input2 {
  margin-top: 100px;
  margin-left: 270px;
}

#input {
  margin-left: 250px;
}
